.container {
  background: var(--color-bg);
  padding: 2rem 4rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.flex__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.pickup-dropoff__container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: space-between;
  gap: 2rem;
}

@media screen and (max-width: 850px) {
  .flex__container {
    flex-direction: column;
  }

  .pickup-dropoff__container {
    flex-direction: column;
    gap: 2em;
  }

  /* .container {
    padding: 2em 4em;
  } */
}

@media screen and (max-width: 425px) {
  .container {
    padding: 1.5em;
  }
}
