/* modal */

body.active-modal {
  overflow-y: hidden;
}

.modal,
.overlay {
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 200;
}

.overlay {
  background: var(--bg-modal);
}
.modal-content {
  position: absolute;
  top: 50%;
  z-index: 300;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: var(--white);
  padding: 4em 1em 1.5em 1em;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
}

.modal-content .message {
  width: 100px;
  height: 50px;
  object-fit: cover;
  margin-top: 2em;
}

.modal-content h3 {
  margin-bottom: 2em;
}

.modal-content .recovery {
  margin-top: 2em;
}

.modal-content .recoveryBtn {
  padding: 1em;
  margin-top: 1em;
  border-radius: 8px;
  font-family: var(--font-oswold);
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--bg-blue-offblue);
  color: #fff;
  border: none;
  outline: none;
  opacity: 0.9;
}

.modal-content .recoveryBtn:hover {
  opacity: 1;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  opacity: 0.7;
}

.close-modal:hover {
  opacity: 1;
}

@media screen and (max-width: 428px) {
  .modal-content {
    max-width: 300px;
    padding: 1em;
  }
}

@media screen and (max-width: 320px) {
  .modal-content {
    max-width: 280px;
  }
}
