.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  padding: 0.5em;
  background-color: var(--white);
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: var(--nav-box-shadow);
}

.nav-wrapper-mobile-left {
  display: none;
}

.menu__button {
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 2em;
}

.nav__logo .flex-logo {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  margin-bottom: 0;
}

.nav__logo .flex-logo img {
  object-fit: cover;
}

.searchbar-wrapper {
  position: relative;
}

.nav__search .filterBtn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.nav__menu {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.icon-container,
.heart-container {
  border-radius: 90px;
  border: 1px solid rgba(195, 212, 233, 0.4);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container {
  position: relative !important;
}

.likedCarsCounter {
  background-color: #54a6ff;
  color: var(--static-white);
  position: absolute;
  font-size: 0.8rem;
  right: -8px;
  bottom: -10px;
  width: 10px;
  height: 10px;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-family: var(--font-oswold);
}

.nav__search {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.search-results {
  position: absolute;
  width: 100%;
  background-color: var(--white);
  top: 60px;
  left: 0;
  border-radius: 8px;
  overflow: hidden; /* Set the overflow property on the parent container */
  max-height: 300px; /* Set a maximum height for the results container */
  border: 1px solid rgba(195, 212, 233, 0.4);
  overflow-y: auto; /* Enable vertical scrolling */
}

.search-results .result {
  padding: 0.5rem 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
}

/* Set a fixed width for the .result element */
.search-results .result h2 {
  width: 150px; /* Adjust the width as needed */
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-results .result:hover {
  background-color: var(--offwhite);
}

.search-results .result img {
  height: 100%;
  width: 100px;
  object-fit: contain;
}

.search-results .result h2 {
  font-family: var(--font-oswold);
  font-size: 1rem;
}

.search {
  position: relative;
  width: 44px;
  height: 44px;
  border: 1px solid var(--border-color);
  border-radius: 4rem;
  overflow: hidden;
  transition: width 0.3s cubic-bezier(0.9, 0, 0.3, 0.9);
  padding: 10px;
}
.search__input {
  border: none;
  outline: none;
  width: calc(100% - 64px);
  height: 100%;
  border-radius: 70px;
  padding-left: 0.9em !important;
  opacity: 0;
  font-size: 1rem;
  font-family: var(--font-oswold);
  pointer-events: none;
  color: var(--text-color);
  background-color: transparent;
  transition: opacity 1.5s;
}
.search__input:-webkit-autofill {
  box-shadow: 0 0 0 100px #fff inset;
}
.search__button {
  width: 36px;
  height: 36px;
  background-color: #4668ce;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
  -webkit-tap-highlight-color: transparent;
}

.filter__button {
  width: 36px;
  height: 36px;
  background-color: #4668ce;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 45px;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.search__icon,
.search__close {
  color: var(--static-white);
  font-size: 1.2rem;
  position: absolute;
  transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}
.search__close {
  opacity: 0;
}

.search__filter {
  font-size: 1.2rem;
  color: var(--static-white);
}

/* Search animated */
.show-search {
  width: 492px;
}
.show-search .search__input {
  opacity: 1;
  pointer-events: initial;
  width: 80%;
}
.show-search .search__button {
  transform: rotate(90deg);
}
.show-search .search__icon {
  opacity: 0;
}
.show-search .search__close {
  opacity: 1;
}

.show-search .filter__button {
  opacity: 1;
}

.profile-mobile {
  display: none;
}

.nav__logo-mobile {
  display: none;
}

@media screen and (max-width: 850px) {
  .show-search {
    width: 340px;
  }

  .search__input {
    width: 75% !important;
  }

  .dropdown ul .link {
    padding: 0.3em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
  }

  .nav-wrapper-mobile-left {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 1em;
  }

  .nav-wrapper-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    padding: 0;
  }

  .nav__logo {
    display: none;
  }

  .nav-wrapper {
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    border: 0;
    box-shadow: none;
  }

  .nav-right {
    gap: 1em;
  }

  .nav__menu {
    gap: 0.7em;
  }
}

@media screen and (max-width: 428px) {
  .show-search {
    width: 270px;
  }

  .nav-right {
    gap: 0.5em;
  }

  .profile-mobile {
    display: flex;
  }

  .likedCarsCounter {
    right: -8px;
    bottom: -8px;
  }

  .heart-container {
    position: relative !important;
  }

  .nav__menu {
    display: none;
  }

  .show-search .search__input {
    font-size: 0.8rem;
  }

  .nav__left {
    gap: 0.5em;
  }

  .search-results .result img {
    width: 70px;
  }

  .search-results .result h2 {
    font-size: 0.8rem;
  }

  .search-results .result {
    padding: 0.3em;
    gap: 0.4em;
  }

  .profile-mobile {
    position: relative;
  }

  .dropdown {
    position: absolute;
    right: 0;
    bottom: -240px;
    background-color: var(--white);
    padding: 0.5em 1em;
    font-family: var(--font-oswold);
    border-radius: 4px;
    width: 170px;
    border: 1px solid var(--border-color);
  }

  .dropdown::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: -14px;
    right: 7px;
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    transform: rotate(45deg);
    background-color: var(--white);
  }
  .flex-logo {
    margin-bottom: 0 !important;
  }

  .search__input {
    width: 68% !important;
  }
}

@media screen and (max-width: 375px) {
  .show-search {
    width: 230px;
  }

  .search__input {
    width: 65% !important;
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 320px) {
  .show-search {
    width: 180px;
  }

  .search__input {
    padding-left: 0;
    width: 55% !important;
  }

  .search__button,
  .filter__button {
    width: 30px;
    height: 30px;
  }

  .search__icon,
  .search__filter {
    font-size: 1rem;
  }

  .filter__button {
    right: 45px;
  }

  .search__button {
    right: 7px;
  }
}
